#bg_yellow {
    background-color: yellow;
}

header {
    background-color: blue;
}

nav {
    background-color: green;
}

main {
    background-color: red;
}

.aside {
    background-color: teal;
}

section {
    background-color: darkgoldenrod;
}

footer {
    background-color: black;
}